@use 'variables' as v;
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: v.$secondaryFonts;
    font-size: 1.6rem;
    background-color: v.$light_coffee;
}

p {
    color: v.$black_color;
    font-size: 1.6rem;
    line-height: 2;
}

.container {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: v.$black_color;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}