//Fonts
$primaryFont: 'Raleway',
sans-serif;
$secondaryFonts: 'Roboto',
sans-serif;
$cursiveFonts: 'Bona Nova',
serif;
//Media queries
$smartphone: 480px;
$tablet: 768px;
$desktop: 1024px;
//Colors
$primary_color: #5e311e;
$secondary_color: #c39c63;
$black_color: #000;
$white_color: #fff;
$light_gray_color: #eceeef;
$light_coffee: #ebe7de;
//Units
$distance: 4rem;